@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Marcellus&display=swap');

:root {
    --c-bkg: #e9eae4;
    --c-text: #0F0c0c;
    --c-white: #f5f5fa;
    --c-green: #7C8F6F;
    --c-button: #DAB8A0;

    --ratio: 1.2;
    --s-h5: calc(1rem * var(--ratio));
    --s-h4: calc(var(--s-h5) * var(--ratio));
    --s-h3: calc(var(--s-h4) * var(--ratio));
    --s-h2: calc(var(--s-h3) * var(--ratio));
    --s-h1: calc(var(--s-h2) * var(--ratio));

    --ff-Title: 'Marcellus', serif;
    --ff-text: 'Josefin Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-text);
    background-color: var(--c-bkg);
    margin: 0;

}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem 0 10rem 0;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../imgs/muchaBkg.jpg");
    background-position: center;
    background-size: contain;
    margin: auto;
    width: 100%;
    height: 75vh;

}

.heroPics {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.heroSmall {
    width: 100%;
    max-height: 400px;
    max-width: 300px;
    margin: 2rem;

}

.hero h5 {
    padding-bottom: 100px;
}

.heroAbout {
    background-color: var(--c-white);
    padding: 2rem;
    margin: 2rem;
}

button {
    padding: .5rem 2rem;
    background-color: var(--c-button);
    border: none;
    border-radius: 4px;
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-Title);
}

.subHero {
    text-align: center;
    padding: 12rem 1rem 15rem 1rem;
}

.subHero h3 {
    line-height: 1.3;

}

.subCol {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 0 4rem 0 4rem;
}

h5 {
    font-family: var(--ff-text);
    font-size: var(--s-h5);
}

h4 {
    font-size: var(--s-h4);
}

h3 {
    font-size: var(--s-h3);
}

h2 {
    font-size: var(--s-h2);
}

h1 {
    font-size: var(--s-h1);
}

.left {
    background-color: var(--c-green);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third img {
    max-width: 20%;
}


footer {
    padding: 1.5rem 0 2.5rem 0;
}

footer p {
    text-align: center;
}

.footContent {
    display: flex;
    justify-content: center;
    color: var(--c-text);

}

footer img {
    width: 30px;
}

@media (min-width: 720px) {
    :root {
        --ratio: 1.3;
    }

    .title {

        padding: 2rem 0 0 0;
    }

    .heroPics {
        flex-direction: row;
        justify-content: space-between;
        gap: 1.5rem;

    }

    .third {
        display: flex;
        flex-direction: row;
    }


}